include MANIFEST.in
include README.md LICENSE.txt
include CHANGELOG.md
include setup.cfg
include setup.py

recursive-include tests *
recursive-include examples *

recursive-include docs *
prune docs/build

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
